language: node_js

node_js:
  - "9.2.0"

sudo: true

branches:
  only:
  - gh-pages
  - /.*/

env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

services:
  - postgresql

before_script:
  - psql -c "CREATE DATABASE woloxland;" -U postgres
  - psql -c "CREATE USER arinaldi WITH PASSWORD 'wolox1189';"

script:
  npm test
