body {
  font-family: "Open Sans", sans-serif;
}

.main {
  height: 75%;
  border-top: 10px solid #F5C85F;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px 0;
}

.phone-logo {
  padding-right: 30px;
}

.tcg-logo {
  padding-left: 25px;
}

.v-div {
  background: linear-gradient(0deg, transparent, #F5C85F, transparent);
  height: 275px;
  width: 3px;
  border: none;
}

 .triangle-div {
   display: flex;
   justify-content: flex-end;
   background-image: url("triangle.png");
   background-repeat: space;
 }

 .features {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 310px;
   background-color: #EEE;
   position: relative;
 }

 .features:before {
   content: '';
   position: absolute;
   background-image: url("triangle.png");
   width: 100%;
   height: 12px;
   top: -12px;
 }

.money-feature,
.reminder-feature,
.security-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 180px;
  height: 200px;
}

.feature-title {
  font-weight: bold;
  color: #111;
  padding: 10px;
}

.feature-info {
  color: #999;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F5C85F;
  width: 100%;
  height: 235px;
  box-shadow: 0px -1px 5px #999;
}

.subscribe-label {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.subscribe-button,
.subscribe-input {
  border: none;
  border-radius: 10px;
  height: 40px;
}

.subscribe-input {
  width: 250px;
}

.subscribe-button {
  width: 110px;
  background-color: #F5C85F;
  color: white;
  border: 2px solid white;
  margin: 10px 0 20px 0;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .phone-logo {
    display: none;
  }

  .v-div {
    display: none;
  }
}
